body
{
    font-family: 'Amatic SC', cursive;
    background-color: #f8dc81;
    
}

.title img
{
    width:90px;
    height:90px;
}

#result, #camera
{
    width:350px;
    height:350px;
    border:solid 214151;
    background-color: #a2d0c1;
    box-shadow:10px 5px 15px #eff7e1;
    
}

.title
{
    width:100%;
}

.cams,.caps
{
    font-size:25px;
}

#cap_img,#test_img
{
    background:linear-gradient( #a2d0c1 0%, #f8dc81 100%) ;
    font-style:bold;
}
.results 
{
    background:linear-gradient(  #a2d0c1 30%,#f8dc81 70%) ;
    width:50%;
    border:solid black;
    margin-left:475px;
    text-align:center;
}
.results img
{
    width:90px;
    height:90px;
}
.results label
{
    font-size: 25px;
}
.footer
{
   position:fixed;
   bottom:0%;
   line-height:2;
   font-size:25px;
   background-color: silver;
   width:100%;
   height:5%;
}